*,
::before,
::after {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #434455;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  margin: 0;
}

button {
  font-family: inherit;
  color: currentColor;
}

input {
  font-family: inherit;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.container {
  width: 288px;
  margin: 0 auto;
}

.top-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  opacity: 0;
  width: 100%;
  min-height: 100%;
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  pointer-events: none;
  padding: 72px 16px 40px 16px;
  display: flex;
  flex-direction: column;
}

.hamburger.open {
  opacity: 1;
  pointer-events: auto;
}

.hamburger-icon {
  margin: 16px 0;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-first {
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-first:focus,
.logo-first:hover,
.logo-second:hover,
.logo-second:focus {
  color: #4d5ae5;
}

.list-link {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: auto;
}

.link {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.1;
  font-weight: 700;
  letter-spacing: 0.02em;
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.link:focus,
.link:hover,
.contacts:hover,
.contacts:focus,
.link.current {
  color: #404bbf;
}

.address {
  font-style: normal;
  margin-bottom: 48px;
}

.contacts-menu {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contacts {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hamburger .person-links-list {
  justify-content: flex-start;
  gap: 40px;
}

.section {
  padding: 96px 0;
}

.header-section-title {
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/peopleOffice.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  max-width: 100%;
  padding: 72px 0;
}

.page-title {
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.1;
  font-size: 36px;
  color: #ffffff;
  max-width: 216px;
  margin: 0 auto 72px;
  text-align: center;
}

.button {
  display: block;
  min-width: 169px;
  font-size: 16px;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.strategies-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.strategies-list-item {
  width: 100%;
}

.strategy-icon {
  position: absolute;
  opacity: 0;
}

.title-description {
  font-size: 36px;
  font-weight: 700;
  color: #2e2f42;

  line-height: 1.1;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

.paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.section-team {
  background-color: #f4f4fd;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  color: #2e2f42;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.people {
  display: flex;
  flex-direction: column;
  gap: 72px;
  margin: 0 12px;
}

.team-card {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.person-position {
  padding: 32px 0;
}

.team-card .title-description {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.team-card .paragraph {
  text-align: center;
  font-weight: 400;
  margin-bottom: 8px;
}

.person-links-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.person-links-list-item {
  width: 40px;
  height: 40px;
}

.person-links-list-item-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.person-links-list-icon {
  fill: #f4f4fd;
}

.person-links-list-item-link:hover,
.person-links-list-item-link:focus {
  background-color: #404bbf;
}

.portfolio {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.portfolio img {
  width: 100%;
  height: 280px;
}

.portfolio .project-card {
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.project-card .current {
  position: relative;
  overflow: hidden;
}

.project-card .title-description {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.paragraph.overlay {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #f4f4fd;
  padding: 40px 32px;
}

.portfolio-app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-app .paragraph {
  font-weight: 400;
}

.portfolio-app .title-description {
  text-align: left;
}

.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

.footer-elements {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.footer-logo-text {
  display: flex;
  flex-direction: column;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 16px;
  text-align: center;
}

.logo-second {
  color: #f4f4fd;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.motto {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  font-weight: 400;
  font-size: 16px;
  max-width: 288px;
}

.social-media {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.social-media .motto {
  text-align: center;
  font-weight: 500;
}

.social-media .person-links-list-item-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media .person-links-list-item-link:hover,
.social-media .person-links-list-item-link:focus {
  background-color: #31d0aa;
}

.subscribe .paragraph {
  color: #fff;
  text-align: center;
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-label {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-input {
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  opacity: 0.3;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[placeholder="E-mail"] {
  color: #ffffff;
  opacity: 0.6;
}

.footer-input:focus {
  border: 1px solid #4d5ae5;
  outline: none;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.footer-form .button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.04em;
  gap: 16px;
}

.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  background-color: #fcfcfc;
  width: 288px;
  min-height: 623px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 16px 24px 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hamburger .btn-close {
  background-color: transparent;
}

.btn-close:hover,
.btn-close:focus {
  background-color: #404bbf;
  border: none;
}

.icon-close {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover > .icon-close,
.btn-close:focus > .icon-close {
  fill: #ffffff;
}

.modal .paragraph {
  font-weight: 500;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.field {
  margin-bottom: 8px;
}

.fiel-textarea {
  margin-bottom: 16px;
}

.field-checkbox {
  margin-bottom: 24px;
}

.form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.input-icon {
  position: relative;
}

.form-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  padding-left: 34px;
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus,
.textarea:focus {
  border-color: #4d5ae5;
}

.form-input:focus + .field-icon {
  fill: #4d5ae5;
}

.textarea {
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  outline: transparent;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
}

.textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
  opacity: 0.5;
}

.checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  font-weight: 400;
  color: #8e8f99;
}

.checkbox-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

.privacy-policy {
  color: #4d5ae5;
  text-decoration: underline;
}

.checkbox.visually-hidden:checked + .checkbox-label > .checkbox-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

@media (min-resolution: 192dpi) {
  .header-section-title {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/people-office@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 736px;
  }

  .top-line {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .logo {
    margin-right: 120px;
  }

  .hamburger {
    opacity: 1;
    background-color: transparent;
    position: static;
    padding: 0;
    align-items: center;
    flex-direction: row;
    min-height: 0;
  }

  .hamburger .btn-close {
    opacity: 0;
    pointer-events: none;
    display: none;
  }
  .hamburger-icon {
    display: none;
  }

  .hamburger .person-links-list {
    display: none;
  }

  .list-link {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-right: 122px;
  }

  .link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    padding: 24px 0;
  }

  .contacts-menu {
    gap: 0;
  }

  .address {
    margin: 0;
  }

  .link::after {
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link:hover::after,
  .link:focus:after,
  .link.current::after {
    opacity: 1;
  }

  .link:focus,
  .link:hover,
  .contacts:hover,
  .contacts:focus,
  .link.current {
    color: #404bbf;
  }

  .header-section-title {
    padding: 112px 0;
  }

  .contacts {
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 1.7;
    font-weight: 400;
  }

  .page-title {
    font-size: 56px;
    max-width: 496px;
    margin: 0 auto 36px;
  }

  .strategies-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .strategies-list-item {
    width: calc((100% - 24px) / 2);
  }

  .title-description {
    text-align: left;
  }

  .people {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    justify-content: center;
  }

  .people .title-description {
    text-align: center;
  }

  .portfolio {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .portfolio .project-card {
    width: calc((100% - 24px) / 2);
  }

  .portfolio img {
    height: 300px;
  }

  .footer .container {
    padding-left: 92px;
  }

  .footer-elements {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .footer .logo {
    text-align: left;
  }

  .motto {
    max-width: 264px;
  }

  .social-media .motto {
    text-align: left;
  }

  .footer-form {
    flex-direction: row;
    gap: 24px;
  }

  .footer-input {
    width: 264px;
  }

  .subscribe .paragraph {
    text-align: left;
  }

  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .header {
    padding: 0 15px;
  }
  .container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .list-link {
    margin-right: 332px;
  }

  .contacts-menu {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .logo {
    margin-right: 76px;
  }

  .header-section-title {
    max-width: 1440px;
    padding: 188px 0;
  }

  .contacts {
    font-size: 16px;
    letter-spacing: 0.02em;
  }

  .page-title {
    font-size: 56px;
    max-width: 496px;
    margin: 0 auto 48px;
  }
  .section {
    padding: 188px 0;
  }

  .strategies-list-item {
    width: calc((100% - 72px) / 4);
    margin-bottom: 0;
  }

  .strategy-icon {
    position: static;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    height: 112px;
    margin-bottom: 8px;
  }

  .title-description {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .paragraph {
    font-weight: 400;
  }

  .people {
    gap: 24px;
    flex-wrap: nowrap;
  }

  .portfolio {
    row-gap: 48px;
  }

  .portfolio .project-card {
    width: calc((100% - 48px) / 3);
  }

  .project-card:hover .current .paragraph.overlay {
    transform: translateY(0%);
  }

  .footer .container {
    padding: 0 15px;
  }

  .footer-elements {
    flex-wrap: nowrap;
    gap: 0;
    align-items: baseline;
  }

  .footer-logo-text {
    margin-right: 120px;
  }

  .social-media {
    margin-right: auto;
  }

  .social-media .person-links-list {
    gap: 16px;
  }

  input[placeholder="E-mail"] {
    opacity: 1;
  }

  .footer-input {
    opacity: 1;
  }

  .form-input {
    padding-left: 38px;
  }
}

/*
.header {
  border-bottom: 1px solid #e7e9fc;
  padding: 0 15px;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.top-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-link {
  display: flex;
  gap: 40px;
}

.menu {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-first {
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link {
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.link::after {
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover::after,
.link:focus:after,
.link.current::after {
  opacity: 1;
}

.link:focus,
.link:hover,
.contacts:hover,
.contacts:focus,
.link.current {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.contacts-menu {
  display: flex;
  gap: 40px;
}

.contacts {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-first:focus,
.logo-first:hover,
.logo-second:hover,
.logo-second:focus {
  color: #4d5ae5;
}

.section {
  padding: 120px 0;
}

.header-section-title {
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/peopleOffice.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  max-width: 1440px;
  padding: 188px 0;
}

.page-title {
  font-weight: bold;
  letter-spacing: 0.02em;
  line-height: 1.07;
  font-size: 56px;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto 48px;
}

.button {
  display: block;
  min-width: 169px;
  font-size: 16px;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 4px 4px #2e2f42;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

form .button {
  height: 56px;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  font-weight: bold;
  font-size: 36px;
  color: #2e2f42;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.strategies-list {
  display: flex;
  gap: 24px;
}

.strategies-list-item {
  width: calc((100% - 72px) / 4);
}

.strategy-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  height: 112px;
  margin-bottom: 8px;
}

.title-description {
  font-size: 20px;
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team-card .paragraph {
  text-align: center;
}

.section-team {
  background-color: #f4f4fd;
}

.person-links-list-item-link:hover,
.person-links-list-item-link:focus {
  background-color: #404bbf;
}

.team-card .person-links-list-item-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-card {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-card .title-description {
  text-align: center;
  margin-bottom: 8px;
}

.team-card .paragraph {
  text-align: center;
}

.people {
  display: flex;
  gap: 24px;
}

.person-position {
  padding: 32px 0;
}

.person-position .paragraph {
  margin-bottom: 8px;
}

.person-links-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.person-links-list-item-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.person-links-list-icon {
  fill: #f4f4fd;
}

.person-links-list-item {
  width: 40px;
  height: 40px;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio .project-card {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.project-card .current {
  position: relative;
  overflow: hidden;
}

.paragraph.overlay {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #f4f4fd;
  padding: 40px 32px;
}

.project-card:hover .current .paragraph.overlay {
  transform: translateY(0%);
}

.portfolio-app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}

.logo-second {
  color: #f4f4fd;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.motto {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.social-media .motto {
  font-weight: 500;
  margin-bottom: 16px;
  color: #ffffff;
}

.social-media {
  margin-right: 80px;
}

.social-media .person-links-list {
  gap: 16px;
}

.footer-elements {
  display: flex;
  align-items: baseline;
}

.footer-logo-text {
  margin-right: 120px;
}

.social-media .person-links-list-item-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media .person-links-list-item-link:hover,
.social-media .person-links-list-item-link:focus {
  background-color: #31d0aa;
}

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  background-color: #fcfcfc;
  width: 408px;
  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover,
.btn-close:focus {
  background-color: #404bbf;
  border: none;
}

.icon-close {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover > .icon-close,
.btn-close:focus > .icon-close {
  fill: #ffffff;
}

.modal .paragraph {
  font-weight: 500;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.field {
  margin-bottom: 8px;
}

.fiel-textarea {
  margin-bottom: 16px;
}

.field-checkbox {
  margin-bottom: 24px;
}

/*!
.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}*/

/*
.form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.input-icon {
  position: relative;
}

.form-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus,
.textarea:focus {
  border-color: #4d5ae5;
}

.form-input:focus + .field-icon {
  fill: #4d5ae5;
}

.textarea {
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  outline: transparent;
  resize: none;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
}

.textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.checkbox-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.privacy-policy {
  color: #4d5ae5;
}

.checkbox.visually-hidden:checked + .checkbox-label > .checkbox-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.subscribe .paragraph {
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-label {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-input {
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[placeholder="E-mail"] {
  color: #ffffff;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-form .button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.04em;
}

.subscribe-icon {
  margin-left: 16px;
}

.footer-input:focus {
  border: 1px solid #4d5ae5;
  outline: none;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

*/
